<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitter Analytics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/main.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="../static/js/hashtags_graph_fml.js"></script>
</head>

<body>

<!-- setting up side navigation bar functionality with bootstrap classes -->
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Hashtags</a></li>
        <li><a href="#">Geo</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <!-- setting up side navigation bar design -->
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
          <h2>Twitter Analytics</h2>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section1">Dashboard</a></li>
            <li><a href="#section3">Hashtags</a></li>
            <li><a href="#section3">Geo</a></li>
          </ul><br>
        </div>
        <br>
        <!-- setting up search bar -->
        <div class="col-sm-9">
            <div class="well">
                <div class="logoAndSearchContainer">
                    <div id="custom-search-input">
                        <div class="icol-md-12">
                            <form action="." method="POST">
                                <div class="input-group">
                                  <input type="text" class="form-control input-lg" placeholder="Search", name="search_item">
                                  <span class="input-group-btn">
                                      <button class="btn btn-info btn-lg" type="submit" name="submit">
                                          <i class="glyphicon glyphicon-search"></i>
                                      </button>
                                  </span>
                                </div>
                            </form>                            
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <!-- setting up add hashtag input -->
        <div class="col-sm-9">
          <div class="well">
              <div class="logoAndSearchContainer">
                  <div id="custom-search-input">
                      <div class="icol-md-12">
                          <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search", name="search_item">
                            <span class="input-group-btn">                           
                              <button id='hashtag_button' class="btn btn-primary btn-lg" onclick='fml()'>Add Hashtag</button>
                            </span>
                         </div>                       
                      </div>
                  </div>  
              </div>
          </div>
        </div>


        <!-- setting up hashtags graph -->
        <div class="col-sm-9">
            <div id="container_hashtags_graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>


</body>
</html>
